{#
/**
 * @file
 * Theme jumbotrom.
#}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://cdn.discordapp.com/attachments/943543251703574558/998825715510300703/BannerHome1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://cdn.discordapp.com/attachments/943543251703574558/998829224712478751/BannerHome2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://cdn.discordapp.com/attachments/943543251703574558/998830199145779340/BannerHome3.png" class="d-block w-100" alt="...">
        </div>
    </div>
</div>